/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

#MainContent {
  padding: 50px 0 0 0;
}

#shopify-section-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

#shopify-section-header.product-drop-down-open {
  height: 100vh;
  overflow: scroll;
}

.product-drop-down-menu-button {
  cursor: pointer;
}

.product-drop-down-menu {
  overflow: hidden;
  width: 100%;
  z-index: 10;
  transition: height 0.25s;
}

.product-drop-down-menu.open {
  max-height: 4000px;
}

.product-drop-down-menu-header {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  color: #616161;
  margin: 0;
}

.product {
  background-color: #FFF;
  margin-bottom: 15px;
  padding: 25px 0;
}

.product-image-wrapper {
  text-align: center;
}

.product-drop-down-menu a:hover {
  text-decoration: none;
}

.product-title {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 0 0;
  color: #616161;
  margin: 0;
}

.nav-shadow {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.nav-shadow.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  pointer-events: auto;
}

@media only screen and (min-width: 990px) {
  #shopify-section-header.product-drop-down-open {
    height: auto;
    overflow: visible;
  }

  .product-drop-down-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product-drop-down-menu-header {
    flex-basis: 100%;
    padding: 40px 0 0 0;
  }

  .product {
    padding: 60px 0;
  }

  .product-image-wrapper {
    overflow: hidden;
  }

  .product-image {
    transition: .3s ease-in-out;
    backface-visibility: visible;
  }

  .product-title {
    transition: color .3s ease-in-out;
  }

  .product-link:hover .product-image {
    transform: scale(1.06);
  }

  .product-link:hover .product-title {
    color: #222222;
  }
}
