{% schema %}
{
  "name": "Header",
  "max_blocks": 3,
  "settings": [
    {
      "id": "primary_link_list",
      "type": "link_list",
      "label": "Primary navigation menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Product drop-down menu"
    },
    {
      "type": "checkbox",
      "id": "enable_product_drop_down_menu",
      "label": "Enable product drop-down menu",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "drop_down_product",
          "label": "Drop-down product"
        }
      ]
    }
  ]
}
{% endschema %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  {%- comment -%}
    This button element allows toggling the navigation open/closed on mobile.
  {%- endcomment -%}
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-main-menu" aria-controls="header-main-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {%- comment -%}
    The main branding element at the top-left of the navigation bar.
  {%- endcomment -%}
  <a class="navbar-brand" href="/">{{ shop.name | escape }}</a>

  {%- comment -%}
    Everything inside this div will be collapsed on mobile devices.
  {%- endcomment -%}
  <div class="collapse navbar-collapse" id="header-main-menu">

    {%- comment -%}
      The following finds the navigation menu (link list) configured in the section settings.
      It then iterates through each link in that lists and renders it.
    {%- endcomment -%}
    {%- assign primary_link_list = linklists[section.settings.primary_link_list] -%}
    {%- unless primary_link_list == blank -%}
    <ul class="navbar-nav mr-auto">
      {%- for link in primary_link_list.links -%}
        {%- assign child_link_list_handle = link.title | handle -%}
        {%- assign child_link_list = linklists[child_link_list_handle] -%}
        {%- if child_link_list and child_link_list.links.size > 0 -%}
          {%- assign has_child_link_list = true %}
        {%- else- %}
          {%- assign has_child_link_list = false %}
        {%- endif -%}
        <li class="nav-item {% if link.active %}active{% endif %} {% if has_child_link_list %}dropdown{% endif %}">
          <a href="{{ link.url }}" class="nav-link {% if has_child_link_list %}dropdown-toggle{%  endif %} %}" {% if has_child_link_list %}id="{{ child_link_list_handle }}-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
            {{ link.title | escape }} {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
          </a>
          {%- if has_child_link_list -%}
            <div class="dropdown-menu" aria-labelledby="{{ child_link_list_handle }}-dropdown-toggle">
              {%- for child_link in child_link_list.links -%}
                <a href="{{ child_link.url }}" class="dropdown-item">{{ child_link.title | escape }}</a>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- comment -%}
        Drop-down product menu, similar to Allbirds - made for Knickey Code Challenge
      {%- endcomment -%}
      {% if section.settings.enable_product_drop_down_menu %}
        <li class="nav-item {% if link.active %}active{% endif %} product-drop-down-menu-button ">
          <span class="nav-link dropdown-toggle">Drop-down</span>
        </li>

        <div class="product-drop-down-menu" style="height: 0px;">
          <h2 class="product-drop-down-menu-header">Knickey Code Challenge Drop Down</h2>
          {% for block in section.blocks %}
            <div class="product">
              {% assign product = all_products[block.settings.drop_down_product] %}
              <a href="{{ product.url }}" class="product-link">
                {% assign product_img_url = product.featured_image | img_url: '300x300' %}
                <div class="product-image-wrapper">
                  <img
                    class="product-image lazyload"
                    src="{{ product_img_url }}"
                    alt="{{ product_img_url.alt | escape }}" />
                </div>
                <h2 class="product-title">{{ product.title }}</h2>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </ul>
    {%- endunless -%}

    {%- comment -%}
      The following displays navigation items on the right-hand side of the navigation menu - a link to search,
      a customer account or login link (depending on whether customer accounts are enabled and whether the customer
      is logged in or not) and a link to the cart.
    {%- endcomment -%}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      {%- if shop.customer_accounts_enabled -%}
        {%- if customer -%}
          <li class="nav-item">
            <a class="nav-link" href="/account">{{ customer.first_name | escape }} {{ customer.last_name | escape }}</a>
          </li>
        {%- else -%}
          <li class="nav-item">
            <a class="nav-link" href="/account/login">Log in</a>
          </li>
        {%- endif -%}
      {%- endif -%}
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart ({{ cart.item_count }})</a>
      </li>
    </ul>
  </div>
</nav>
